:root{
--fundo: #87CEFA;
--cartao-frente:#0000FF;
--cartao-verso:	#4682B4;
--destaque:#00FFFF;
--preto:#000000;
--branco:#ffffff;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}